{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h2 align="center" class="m-3">Notes</h2>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <div align="center" class="input-group">
        <input
                type="text"
                class="form-control m-4 w-25"
                id="note"
                name="note"
                placeholder="Enter text"
        />
    </div>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}